<!DOCTYPE html>
<html>

  <head>
    <title>Backbone.js</title>
    <script src="js/json2.js"></script>
    <script src="js/jquery-1.5.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone-localstorage.js"></script>
    <script src="js/todos.js"></script>
  </head>

  <body>
	
	<style type="text/css">
	.bex-aha {
	     font-family: verdana;
	     font-size: 12px;
	     margin: 0px;
	     padding: 0px;
	}

	.bex-aha ul {
	     background: none repeat scroll 0% 0% #FAFAFA;
	     border: 1px solid #CCCCCC;
	     list-style: none outside none;
	     margin: 0px;
	     padding: 0px;
	}

	.bex-aha li {
	     border-bottom: 1px solid #CCCCCC;
	     list-style: none outside none;
	     margin: 0px;
	     padding: 4px;
	}

	.bex-aha li:last-child {
	     border-bottom: medium none;
	}
	</style>
	
	<!-- BetterExplained app! -->
	<h2>Topics</h2>
	<div id="aha" class="bex-aha" data-params="category=topic" data-app-template="app-template-topic">
	</div>
	
	<h2>Shared Insights</h2>
	Aha moments from me and you
	<div class="bex-aha" data-params="order=rating&limit=10" data-app-template="app-template-list">
	</div>
	
	<h2>Work In Progress</h2>
	My upcoming drafts & notes; vote on your favorites!
	<div class="bex-aha" data-params="order=rating&user=kalid&category=upcoming,notes&limit=10" data-app-template="app-template-list">
	</div>

    <!-- Templates -->
	<script type="text/template" id="app-template-topic">
		Suggest a topic! <a href="" id="filter-popular">Popular</a> | <a href="" id="filter-newest">Newest</a>
		<ul id="aha-list"></ul>
	
		<input type="text" id="suggest-topic" />
		<input type="submit" value="Suggest topic" />
	</script>
	
	<script type="text/template" id="app-template-list">
		<ul id="aha-list"></ul>
	</script>

    <script type="text/template" id="item-template">
      <div class="aha">
		<%= title %>
		<span class="meta">
		<a href="" class="upvote"><%= upvote_count %> like<%= upvote_count > 1 ? 's' : '' %></a>
		
		<a href="<%= aha_server + href %>">
			<%= comments_count > 0 ? comments_count + ' comment' + (comments_count > 1 ? 's' : '') : 'discuss' %>
		</a>
		</span>
      </div>
    </script>

	<script type="text/template" id="item-add">
		<div class="aha-add">
			<input type="text"></text>
			<input type="submit"></text>
		</div>
	</script>
  </body>

</html>
